[submodule "linux"]
	path = linux
	url = https://github.com/tiberiu1204/linux-fork
	branch = main
[submodule "test-app/jit-spray-poc-for-ksp"]
	path = test-app/jit-spray-poc-for-ksp
	url = https://github.com/intel/jit-spray-poc-for-ksp.git
[submodule "malware/javascript-malware-collection"]
	path = malware/javascript-malware-collection
	url = https://github.com/HynekPetrak/javascript-malware-collection.git
[submodule "rules"]
	path = rules
	url = https://github.com/Yara-Rules/rules.git
